<div class="new-container">
<div class="container">

  <div class="trips-card">
    <div class="trip-card-title"><h5>Upcoming trips</h5></div>
      <div class="trip-ctn">
      <% future_trips.order(:start_date).each do |future_trip| %>
        <div class="trip-card">
          <%= render 'shared/card', trip: future_trip %>
        </div>
      <% end %>

        <div class="add-card">
          <div type="button" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle btn-card btn-card-trips"></i>
          </div>

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title text-center" id="myModalLabel">Add a Trip</h4>
                        </div>
                        <div class="modal-body">
                          <%= simple_form_for(trip) do |f| %>
                            <%= f.input :name, placeholder: "Name", label: false %>
                            <%= f.input :destination, placeholder: "Destination", label: false %>
                            <%= f.input :photo %>
                            <%= f.input :description, placeholder: "Description", label: false %>
                            <div class="row">
                              <div class="col-xs-6">
                            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "Start Date", label: false%>
                              </div>
                              <div class="col-xs-6">
                            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "End Date", label: false %>
                              </div>
                            </div>
                            <%= f.submit "Add trip", class: "btn btn-info", style: "width: 100%" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
    </div>
  </div>

  <div class="trips-card">
    <div class="trip-card-title"><h5>Wishlist trips</h5></div>
    <div class="trip-ctn">
      <% wishlist_trips.order(:destination).each do |wishlist_trip| %>
        <div class="trip-card">
          <%= render 'shared/card', trip: wishlist_trip %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="trips-card">
    <div class="trip-card-title"><h5>Past trips</h5></div>
    <div class="trip-ctn">
      <% past_trips.order(end_date: :desc).each do |past_trip| %>
        <div class="trip-card">
          <%= render 'shared/card', trip: past_trip %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>





