<div class="new-container">
<div class="container">

  <h2 class="trip-title">My future trips:</h2>
  <div class="row">
    <% @future_trips.order(:start_date).each do |trip| %>
      <div class="col-sm-6 col-md-4">
        <%= render 'shared/card', trip: trip %>
      </div>
    <% end %>
    <div class="col-sm-6 col-md-4">
      <div class="card add-card">
          <div> <%= link_to new_trip_path do %>
            <i class="fa fa-plus-circle btn-card"></i>
          <% end %></div>
      </div>
    </div>
  </div>

  <h2 class="trip-title">My wishlisted trips:</h2>
  <div class="row">
    <% @wishlist_trips.order(:destination).each do |trip| %>
      <div class="col-sm-6 col-md-4">
        <%= render 'shared/card', trip: trip %>
      </div>
    <% end %>
    <div class="col-sm-6 col-md-4">
      <div class="card add-card">
        <div> <%= link_to new_trip_path do %>
          <i class="fa fa-plus-circle btn-card"></i>
        <% end %></div>
      </div>
    </div>
  </div>

  <h2 class="trip-title">My past trips:</h2>
  <div class="row">
    <% @past_trips.order(end_date: :desc).each do |trip| %>
      <div class="col-sm-6 col-md-4">
        <%= render 'shared/card', trip: trip %>
      </div>
    <% end %>
  </div>
</div>
</div>




