<div class="new-container">
<div class="container">
  <h2><strong><%= @trip.destination %>:</strong>
      <% if @trip.start_date.present? %>
        <%= @trip.start_date.strftime("%b %d, %Y") %> - <%= @trip.end_date.strftime("%b %d, %Y") %>
      <% end %>
  </h2>
  <div class="row">
    <div class="col-md-12">
      <div class="participants-container">
        <% @trip.participations.each do |participation| %>
          <div class="participant text-center">
            <% if participation.user %>
              <%= cl_image_tag participation.user.avatar, class: "avatar-large" %>
            <% else %>
              <%= image_tag "default-user.png", class: "avatar-large" %>
            <% end %>
            <p><%= participation.pseudo %></p>
          </div>
        <% end %>
<!--         <div class="btn btn-info" style="width: 150px">Add participant</div> -->

          <!-- Button trigger modal -->
          <div type="button" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle btn-card"></i>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Add a participant to the trip</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@trip, @participation] do |f| %>
                    <%= f.input :email, placeholder: "Email", label: false%>
                    <%= f.input :pseudo, placeholder: "Pseudo", label: false %>
                    <%= f.submit "Add a participant", class: "btn btn-info", style: "width: 100%" %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="col-md-6">
      <div id="calendar" data-events="<%= @events.to_json %>"></div>
    </div>
    <div class="col-md-6" style="margin-bottom: 20px">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>


</div>
</div>



