<div class="info-window text-center">
<!--   <h4><%= link_to transportation.arrival_port, trip_transportations_path(@trip) %> <%#= render 'shared/booked-icon' %></h4>
  <h6><%#= transportation.arrival_date.strftime("%b %d, %Y") %> @ <%#= transportation.arrival_date.strftime("%H:%M") %></h6>
 -->
  <div class="transportation-card">
    <div class="details-card">
      <div class="info-card">
        <div class="departure"><p><strong> <%= transportation.departure_port.upcase%></strong></p></div>
        <div class="arrival"><p class="text-right"><strong><%= transportation.arrival_port.upcase%></strong></p></div>
      </div>
      <div class="date-card">
        <div class="date-time">
          <p ><%= transportation.departure_date.strftime("%b %d, %Y") %>  <%= transportation.departure_date.strftime("%H:%M") %></p>
        </div>
        <div class="date-time">
          <p class="text-right" ><%= transportation.arrival_date.strftime("%b %d, %Y") %>  <%= transportation.arrival_date.strftime("%H:%M") %></p>
        </div>
      </div>
      <div class="price-status"><p class="ticket-price text-right"><%= number_with_precision(transportation.price_per_person, precision: 2)%>€ TTC</p></div>
    </div>
    <div class="reference-card"><p class="reference text-center"><%= transportation.reference_number%></p></div>
    <div class="transportation-status">
      <div class="btn-group">
        <% if transportation.status == "Wishlist" %>
          <%= render 'shared/wishlist-icon' %>
        <% else %>
          <%= render 'shared/booked-icon' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
