<div class="new-container">
<div class="container">

  <div class="header">
    <div class="title text-center"> <h2><%= @trip.name  %>  ...  <i class="fa fa-plane title-icon"></i></h2>
    </div>

  </div>

  <div class="transportations-container">

    <div class="user-transportations transportations-card">
      <div> <%= link_to new_trip_transportation_path do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <% end %></div>
      <h5>My transportation:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Participant</th>
          </tr>
        </thead>
        <tbody>
          <% if @participation %>
            <% @transportations.each do |transpo| %>
              <% if transpo.participation.user_id == current_user.id %>
              <tr>
                <td class="departure">
                  <p><%= transpo.departure_port%></p>
                </td>
                <td class="arrival">
                  <p><%= transpo.arrival_port%></p>
                </td>
                <td class="date-time">
                  <p><%= transpo.departure_date.strftime("%b %d, %Y") %></p>
                  <p><%= transpo.departure_date.strftime("%H:%M") %></p>
                </td>
                <td class="reference">
                  <%= transpo.reference_number%>
                </td>
                <td class="price-status">
                  <p class="ticket-price"><%= transpo.price_per_person%> €</p>
                </td>
                <td>
                  <div class="<%= transpo.status%>">
                    <div class="btn-group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= transpo.status%>
                      </button>
                      <div class="dropdown-menu">
                        <%= link_to "Wishlist", trip_transportation_path(@trip, transpo, status: "Wishlist"), method: :patch, class: "dropdown-item" %>
                        <%= link_to "Booked", trip_transportation_path(@trip, transpo, status: "Booked"), method: :patch, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Delete", trip_transportation_path(@trip, transpo), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <%= cl_image_tag @avatar, class: "avatar", crop: :fill%>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% else %>
            <p>No transportation currently saved for you</p>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="other-transportations transportations-card">
      <div> <%= link_to do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <% end %></div>
      <h5>Other participants' transportations:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Participant</th>
          </tr>
        </thead>
        <tbody>
          <% @transportations.each do |transpo| %>
            <% if transpo.participation.user != current_user %>
              <tr>
                <td class="departure">
                  <p><%= transpo.departure_port%></p>
                </td>
                <td class="arrival">
                  <p><%= transpo.arrival_port%></p>
                </td>
                <td class="date-time">
                  <p><%= transpo.departure_date.strftime("%b %d, %Y") %></p>
                  <p><%= transpo.departure_date.strftime("%H:%M") %></p>
                </td>
                <td class="reference">
                  <%= transpo.reference_number%>
                </td>
                <td class="price-status">
                  <p class="ticket-price"><%= transpo.price_per_person%> €</p>
                </td>
                <td>
                  <div class="<%= transpo.status%>">
                    <div class="btn-group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= transpo.status%>
                      </button>
                      <div class="dropdown-menu">
                        <%= link_to "Wishlist", trip_transportation_path(@trip, transpo, status: "Wishlist"), method: :patch, class: "dropdown-item" %>
                        <%= link_to "Booked", trip_transportation_path(@trip, transpo, status: "Booked"), method: :patch, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Delete", trip_transportation_path(@trip, transpo), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <%= cl_image_tag transpo.participants.avatar, class: "avatar", crop: :fill%>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>




