<div class="new-container">
<div class="container">

  <div class="header">
    <div class="title text-center"> <h2><%= @trip.name  %>  ...  <i class="fa fa-plane title-icon"></i></h2>
    </div>

  </div>

  <div class="transportations-container">

    <div class="user-transportations transportations-card">
<!--       <div> <%#= link_to new_trip_transportation_path(@trip, @transportation) do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <%# end %></div> -->

      <!-- Button trigger modal -->
      <div type="button" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus-circle plus-btn"></i>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center" id="myModalLabel">Add a transportation</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@trip, @transportation] do |f| %>
              <div class="row">
                <div class="col-xs-6">
                <%= f.input :departure_port, placeholder: "From", label: false, class: 'form-control' %>
                </div>
                <div class="col-xs-6">
                <%= f.input :arrival_port, placeholder: "To", label: false, class: 'form-control' %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                <%= f.input :departure_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', placeholder: "Departure Date", label: false %>
                </div>
                <div class="col-xs-6">
                <%= f.input :arrival_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', placeholder: "Arrival Date", label: false %>
                </div>
              </div>
                <%= f.input :price_per_person, placeholder: "Price per person", label: false, class: 'form-control' %>
                <%= f.input :reference_number, placeholder: "Booking reference", label: false, class: 'form-control' %>
                <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                <!-- Add participants -->
                <%= f.submit class: 'btn btn-info' %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <h5>My transportation:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Participant</th>
          </tr>
        </thead>
        <tbody>
          <% if @participation %>
            <% @transportations.each do |transpo| %>
              <% if transpo.participation.user_id == current_user.id %>
              <tr>
                <td class="departure">
                  <p><%= transpo.departure_port%></p>
                </td>
                <td class="arrival">
                  <p><%= transpo.arrival_port%></p>
                </td>
                <td class="date-time">
                  <p><%= transpo.departure_date.strftime("%b %d, %Y") %></p>
                  <p><%= transpo.departure_date.strftime("%H:%M") %></p>
                </td>
                <td class="reference">
                  <%= transpo.reference_number%>
                </td>
                <td class="price-status">
                  <p class="ticket-price"><%= transpo.price_per_person%> €</p>
                </td>
                <td>
                  <div class="<%= transpo.status%>">
                    <div class="btn-group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= transpo.status%>
                      </button>
                      <div class="dropdown-menu">
                        <%= link_to "Wishlist", trip_transportation_path(@trip, transpo, status: "Wishlist"), method: :patch, class: "dropdown-item" %>
                        <%= link_to "Booked", trip_transportation_path(@trip, transpo, status: "Booked"), method: :patch, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Delete", trip_transportation_path(@trip, transpo), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <%= cl_image_tag @avatar, class: "avatar", crop: :fill%>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% else %>
            <p>No transportation currently saved for you</p>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="other-transportations transportations-card">
      <div> <%= link_to do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <% end %></div>
      <h5>Other participants' transportations:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Participant</th>
          </tr>
        </thead>
        <tbody>
          <% @transportations.each do |transpo| %>
            <% if transpo.participation.user != current_user %>
              <tr>
                <td class="departure">
                  <p><%= transpo.departure_port%></p>
                </td>
                <td class="arrival">
                  <p><%= transpo.arrival_port%></p>
                </td>
                <td class="date-time">
                  <p><%= transpo.departure_date.strftime("%b %d, %Y") %></p>
                  <p><%= transpo.departure_date.strftime("%H:%M") %></p>
                </td>
                <td class="reference">
                  <%= transpo.reference_number%>
                </td>
                <td class="price-status">
                  <p class="ticket-price"><%= transpo.price_per_person%> €</p>
                </td>
                <td>
                  <div class="<%= transpo.status%>">
                    <div class="btn-group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= transpo.status%>
                      </button>
                      <div class="dropdown-menu">
                        <%= link_to "Wishlist", trip_transportation_path(@trip, transpo, status: "Wishlist"), method: :patch, class: "dropdown-item" %>
                        <%= link_to "Booked", trip_transportation_path(@trip, transpo, status: "Booked"), method: :patch, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Delete", trip_transportation_path(@trip, transpo), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <%= cl_image_tag transpo.participation.avatar, class: "avatar", crop: :fill%>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>




