<div class="container">

  <div class="header">
    <div class="title"> <h2><%= @trip.name  %> > [Transportation icon]</h2>
    </div>
    <div class="add-btn"><%= link_to "+", new_trip_transportation_path  %></div>
  </div>

  <div class="transportations-container">

    <div class="user-transportations">
      <h3>Your transportation</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if @participation  %>
            <% @transportations.each do |transpo| %>
              <% if transpo.participation.user_id == current_user.id %>
              <tr>
                <td class="departure">
                  <p><%= transpo.departure_port%></p>
                  <p><%= transpo.departure_date%> - <%= transpo.departure_time%></p>
                </td>
                <td class="arrival">
                  <p><%= transpo.arrival_port%></p>
                  <p><%= transpo.arrival_date%> - <%= transpo.arrival_time%></p>
                </td>
                <td class="reference">
                  <%= transpo.reference_number%>
                </td>
                <td class="price-status">
                  <p class="ticket-price"><%= transpo.price_per_person%></p>
                    <p class=pending><%= transpo.status%></p>
                </td>
                <td>
                  <%= cl_image_tag transpo.participation.user.avatar, height: 300, width: 400, crop: :fill, class: avatar %>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% else %>
            <p>No transportation currently saved for you</p>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="other-transportations">
      <h3>Other participants' transportation</h3>
      <ul class="transpo-table">
        <% @transportations.each do |transpo| %>
          <% if transpo.participation.user_id != current_user.id %>
            <li class="transpo">
              <div class="departure">
                <p><%= transpo.departure_port%></p>
                <p><%= transpo.departure_date%> - <%= transpo.departure_time%></p>
              </div>
              <div class="arrival">
                <p><%= transpo.arrival_port%></p>
                <p><%= transpo.arrival_date%> - <%= transpo.arrival_time%></p>
              </div>
              <div class="reference">
                <%= transpo.reference_number%>
              </div>
              <div class="price-status">
                <p class="ticket-price"><%= transpo.price_per_person%></p>
                <p class=pending><%= transpo.status%></p>
              </div>
              <div class="avatar-frame"><%= cl_image_tag transpo.participation.user.avatar, height: 300, width: 400, crop: :fill %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>

</div>




