<h4>New Transportation</h4>

<p>Enter details below:</p>
<div class="new-container">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for [@trip, @transportation] do |f| %>
          <%= f.input :departure_port, label: "From", class: 'form-control' %>
          <%= f.input :arrival_port, label: "To", class: 'form-control' %>
          <%= f.input :departure_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control' %>
          <%= f.input :arrival_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control' %>
          <%= f.input :price_per_person, label: "Price", class: 'form-control' %>
          <%= f.input :reference_number, label: "#", class: 'form-control' %>
          <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control' %>
          <!-- Add participants -->
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- SANDBOX

  for each trip participation (user with name || participation with pseudo) do
<%= link_to participant.name, new_trip_transportation_path(@trip), participant_id: participant.id), method: :post, class: "dropdown-item" %>
-->
