<div class="text-center">
  <h4><%= accommodation.name %> <%= render 'shared/booked-icon' %></h4>
  <h6>From: <%= accommodation.start_date.strftime("%b %d, %Y") %></h6>
  <h6>To: <%= accommodation.end_date.strftime("%b %d, %Y") %></h6>
  <p><%= accommodation.address %></p>
</div>
