<div class="info-window text-center">
<!--   <h4><%#= link_to accommodation.name, trip_accommodations_path(@trip) %> <%#= render 'shared/booked-icon' %></h4>
  <h6>From: <%#= accommodation.start_date.strftime("%b %d, %Y") %></h6>
  <h6>To: <%#= accommodation.end_date.strftime("%b %d, %Y") %></h6>
  <p><%= accommodation.address %></p> -->

  <div class="index-card">
    <div class="index-photo" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%), url('<%= cl_image_path accommodation.photo.url ,crop: :fill %>');"></div>
    <div class="index-content">
      <div class="index-name">
        <p class="ind-name"><%= link_to accommodation.name, trip_accommodations_path(@trip), class: "name-link" %></p>
      </div>
      <div class="index-date">
        <div class="ind-date smaller-text">
          <% if accommodation.start_date %>
            <p><%= accommodation.start_date.strftime("%b %d, %Y").upcase%></br> <%= accommodation.end_date.strftime("%b %d, %Y").upcase%></p>
          <% end %>
        </div>
      </div>
      <div class="index-price">
        <p class="ind-price"><%= number_with_precision(accommodation.total_price, precision: 2)%>€</p>
      </div>
      <div class="index-status">
        <div class="ind-status">
          <div class="btn-group">
            <% if accommodation.status == "Wishlist" %>
              <%= render 'shared/wishlist-icon' %>
            <% else %>
              <%= render 'shared/booked-icon' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
