<div class="new-container">
<div class="container">

  <div class="header">
    <div class="title text-center"> <h2><%= @trip.name  %>  ...  <i class="fa fa-home title-icon"></i></h2>
    </div>

</div>

<div class="accommodations-container">
  <div class="accommodations-ctn">
    <div class="accommodations-card">
      <div> <%= link_to new_trip_accommodation_path do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <% end %></div>
      <h5>Accommodation:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Date</th>
            <th scope="col"># nights</th>
            <th scope="col"># rooms</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Participants</th>
          </tr>
        </thead>
        <tbody>
          <% @accommodations.each do |accom| %>
            <tr>
              <td class="name">
                <p><%= link_to accom.name, accom.url %></p>
              </td>
              <td class="contact">
                <p><%= accom.address%></p>
                <p><%= accom.email%></p>
                <p><%= accom.phone_number%></p>
              </td>
              <td class="date">
                <p><%= accom.start_date%></p>
                <p><%= accom.end_date%></p>
              </td>
              <td class="nights">
                <p><%= accom.number_of_nights%></p>
              </td>
              <td class="rooms">
                <p><%= accom.number_of_rooms%></p>
              </td>
              <td class="price">
                <%= accom.total_price%>
              </td>
              <td class="status">
                <div class="<%= accom.status%>">
                  <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= accom.status%>
                    </button>
                    <div class="dropdown-menu">
                      <%= link_to "Wishlist", trip_accommodation_path(@trip, accom, status: "Wishlist"), method: :patch, class: "dropdown-item" %>
                      <%= link_to "Booked", trip_accommodation_path(@trip, accom, status: "Booked"), method: :patch, class: "dropdown-item" %>
                      <div class="dropdown-divider"></div>
                      <%= link_to "Delete", trip_accommodation_path(@trip, accom), method: :delete, class: "dropdown-item" %>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <% accom.participants.each do |participation| %>
                  <%= cl_image_tag participation.avatar, class: "avatar", crop: :fill%>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class=" wishlist-card hidden-xs">
        <h5>Wishlist:</h5>
      </div>
    </div>
  </div>



