<%= simple_form_for accommodation, url: trip_trips_navbar_accommodation_path(trip, accommodation), method: :patch do |f| %>
  <div class="row">
    <div class="col-xs-6">
  <%= f.input :start_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', placeholder: "Start date", label: false, data_altinput: true, data_enabletime: true %>
    </div>
    <div class="col-xs-6">
  <%= f.input :end_date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', placeholder: "End date", label: false, data_altinput: true, data_enabletime: true %>
    </div>
  </div>
  <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
  <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
  <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
  <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
  <div class="row">
    <div class="col-xs-6">
  <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
    </div>
    <div class="col-xs-6">
  <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
  <%= f.input :number_of_rooms, class: 'form-control', placeholder: "Nb of rooms", label: false %>
    </div>
    <div class="col-xs-6">
  <%= f.input :total_price, class: 'form-control', placeholder: "Total price", label: false %>
    </div>
  </div>
  <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
  <!-- Add participants -->
  <p>Who will be attending?</p>
    <% trip.participations.each do |participant| %>
      <% if participant.user %>
        <%= cl_image_tag participant.user.avatar, class: "avatar-large accomadation-participant-avatar", data: { participation_id: participant.id } %>
      <% else %>
        <%= image_tag "default-user.jpg", class: "avatar-large accomadation-participant-avatar", data: { participation_id: participant.id } %>
      <% end %>
  <% end %>
  <div style="visibility: hidden">
  <%= f.simple_fields_for :participations, trip.participations.build do |fi| %>
    <%= fi.input :pseudo, as: :check_boxes, collection: trip.participations, label: false %>
  <% end %>
  </div>
  <%= f.submit "Save", class: 'btn btn-info', style: 'width: 100%' %>
<% end %>
