<div class="navbar-wagon">
  <!-- Logo -->

<div class="navbar-wagon-left">
  <% if params[:controller] == "transportations" && params[:action] == "index"%>
    <div class="navbar-title"><strong><%= @trip.destination %></strong> | <%= @trip.name  %>  ...  <i class="fa fa-plane title-icon"></i></div>
  <% elsif params[:controller] == "accommodations" && params[:action] == "index"%>
    <div class="navbar-title"><strong><%= @trip.destination %></strong> | <%= @trip.name  %>  ...  <i class="fa fa-home title-icon"></i></div>
  <% elsif params[:controller] == "restaurants" && params[:action] == "index" %>
    <div class="navbar-title"><strong><%= @trip.destination %></strong> | <%= @trip.name  %>  ...  <i class="fa fa-cutlery title-icon"></i></div>
  <% elsif params[:controller] == "activities" && params[:action] == "index" %>
    <div class="navbar-title"><strong><%= @trip.destination %></strong> | <%= @trip.name  %>  ...  <i class="fa fa-university" style="color: #AAAAAA"></i></div>
  <% elsif params[:controller] == "trips" && params[:action] == "show"%>
    <div class="navbar-title"><strong><%= @trip.destination %></strong>
      <% if @trip.start_date.present? %>
        <%= @trip.start_date.strftime("%b %d, %Y") %> - <%= @trip.end_date.strftime("%b %d, %Y") %>
      <% end %>
    </div>
  <% end %>
</div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if params[:controller] == "trips" && params[:action] == "index"%>
        <div class="dropdown dropdown-choose">
        <form action="<%= root_path %>">
          <select name="type" size="1" class="form-control" id="url-form">
            <option value="nil">Choose a type</option>
            <option value="restaurant">Restaurant</option>
            <option value="accommodation">Accommodation</option>
            <option value="activity">Activity</option>
          </select>
        </form>
        </div>
        <div class="url-form form-control">
          <% if params["type"] == "restaurant"  %>
            <%= simple_form_for @restaurant, url: trips_navbar_restaurants_path, method: :post, remote: true do |f| %>
              <%= f.input :url, class: "navbar-input form-control", placeholder: "Enter url", label: false %>
            <% end %>
          <% elsif params["type"] == "accommodation" %>
            <%= simple_form_for @accommodation, url: trips_navbar_accommodations_path, method: :post, remote: true do |f| %>
            <%= f.input :url, class: "navbar-input form-control", placeholder: "Enter url", label: false %>
            <% end %>
          <% elsif params["type"] == "activity" %>
            <%= simple_form_for @activity, url: trips_navbar_activities_path, method: :post, remote: true do |f| %>
            <%= f.input :url, class: "navbar-input form-control", placeholder: "Enter url", label: false %>
            <% end %>
          <% end %>
        </div>
        <% end %>


      <!-- Logo -->
      <div class="dropdown">
        <%# if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.url, class: "avatar navbar-avatar dropdown-toggle", "data-toggle" => "dropdown" %>
        <%# else %>
          <%#= image_tag "http://www.clker.com/cliparts/m/3/I/C/c/2/grey-silhouette-of-man-hi.png", class: "avatar sidebar-avatar dropdown-toggle", "data-toggle" => "dropdown" %>
        <%# end %>
        <ul class="dropdown-menu navbar-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %><%= t(".edit", default: "Edit Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %><%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>
      <a href="#" id="Modalbutton" data-toggle="modal" data-target="#UrlModal"></a>
      <!-- Modal -->
      <div class="modal fade" id="UrlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div id="EditFormUrl">
               <!-- yield -->
            </div>
          </div>
        </div>
      </div>

