<h2 class="text-center">Edit restaurant</h2>

<div class="new-container">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="<%= @restaurant.photo %>" size="16" alt="Edit Entry">

      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :email %>
        <%= f.input :url %>
        <%= f.input :description %>
        <%= f.submit "Update restaurant", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
</div>



