<div class="new-container">
  <div class="container">

    <div class="header">
      <div class="title text-center"> <h2><%= @trip.name  %>  ...  <i class="fa fa-cutlery title-icon"></i></h2>
      </div>
    </div>

    <div class="restaurants-container">
      <div class="restaurants-ctn">
        <div class="restaurants-card">

          <div class="index-title">
            <h4 class="ind-title">Upcoming Restaurants</h4>
          </div>
          <div class="card-index-ctn">
            <% @my_restaurants.order(:date).each do |restaurant| %>
            <div class="index-card">
              <div class="indax-name">
                <p class="ind-name"><%= link_to restaurant.name, restaurant.url, class: "name-link", target: "_blank" %></p>
              </div>
              <div class="index-date">
                <div class="ind-date">
                  <% if restaurant.date %>
                    <p ><%= restaurant.date.strftime("%b %d, %Y")%> @ <%= restaurant.date.strftime("%H:%M") %></p>
                  <% else %>
                    <p>Not scheduled yet</p>
                  <% end %>
                </div>
              </div>
              <div class="index-address">
                <p class="ind-address"><%= restaurant.address%></p>
              </div>
              <div class="index-status">
                <div class="status">
                <div class="ind-status">
                  <div class="btn-group">

                    <button type="button" class="btn btn-light dropdown-toggle" style="background-color: transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if restaurant.status == "Wishlist" %>
                        <%= render 'shared/wishlist-icon' %>
                      <% else %>
                        <%= render 'shared/booked-icon' %>
                      <% end %>

                    </button>
                    <div class="dropdown-menu">
                      <% if restaurant.status == "Booked" %>
                        <%= link_to trip_restaurant_path(@trip, restaurant, status: "Wishlist"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/wishlist-icon'  %>
                            Wishlist
                          </span>
                        <% end %>
                      <% elsif restaurant.status == "Wishlist" %>
                        <%= link_to trip_restaurant_path(@trip, restaurant, status: "Booked"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/booked-icon'  %>
                            Booked
                          </span>
                        <% end %>
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <%= link_to trip_restaurant_path(@trip, restaurant), method: :delete, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/delete-icon'  %>
                            Delete
                          </span>
                        <% end %>
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="index-participants">
                <div class="participants">
                <% restaurant.participants.each do |participant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                    <% end %>
                <% end %>
              </div>
              </div>
            </div>
            <div class="index-card card-back hidden">
              <div class="index-contact">
                <p><%= restaurant.email%></p>
                <p><%= restaurant.phone_number%></p>
              </div>
              <div class="description">
                <p><%= restaurant.description%></p>
              </div>
            </div>
          <% end %>
          </div>
        </div>


        <div class="restaurants-card">

          <!-- Button trigger modal -->
          <div type="button" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle plus-btn"></i>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Add a restaurant</h4>
                </div>
                <!-- Add participants -->
                <div class="modal-body">
                  <!-- New form_tag -->
                  <div id="trip_dates" data-trip-dates="<%= @trip_dates.to_json %>"></div>
                  <!-- Old simple form for -->
                  <%= simple_form_for [@trip, @restaurant] do |f| %>
                    <%= f.input :date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', data_altinput: true, data_enabletime: true, placeholder: "Date", label: false %>
                    <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
                    <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
                    <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
                    <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
                  <div class="row">
                    <div class="col-xs-6">
                    <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
                    </div>
                    <div class="col-xs-6">
                    <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
                    </div>
                  </div>
                    <%= f.input :description, class: 'form-control', placeholder: "Description", label: false %>
                    <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                    <!-- Add participants -->
                  <p>Who will be attending?</p>
                  <%= form_tag(trip_restaurants_path, method: :post) %>
                    <% @trip.participations.each do |part| %>
                        <%= check_box_tag part.pseudo%>
                        <%= h part.pseudo -%>
                        <br>
                      <% end %>
                      <br>
                    <%= f.submit class: 'btn btn-info', style: 'width: 100%' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="index-title">
            <h4 class="ind-title">All Restaurants</h4>
          </div>
          <div class="card-index-ctn">
            <% @my_restaurants.order(:date).each do |restaurant| %>
            <div class="index-card">
              <div class="indax-name">
                <p class="ind-name"><%= link_to restaurant.name, restaurant.url, class: "name-link", target: "_blank" %></p>
              </div>
              <div class="index-date">
                <div class="date">
                  <% if restaurant.date %>
                    <p class="ind-date" ><%= restaurant.date.strftime("%b %d, %Y") %> @ <%= restaurant.date.strftime("%H:%M") %></p>
                  <% else %>
                    <p class="ind-date">Not scheduled yet</p>
                  <% end %>
                </div>
              </div>
              <div class="index-address">
                <p class="ind-address"><%= restaurant.address%></p>
              </div>
              <div class="index-status">
                <div class="status">
                <div class="ind-status">
                  <div class="btn-group">

                    <button type="button" class="btn btn-light dropdown-toggle" style="background-color: transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if restaurant.status == "Wishlist" %>
                        <%= render 'shared/wishlist-icon' %>
                      <% else %>
                        <%= render 'shared/booked-icon' %>
                      <% end %>

                    </button>
                    <div class="dropdown-menu">
                      <% if restaurant.status == "Booked" %>
                        <%= link_to trip_restaurant_path(@trip, restaurant, status: "Wishlist"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/wishlist-icon'  %>
                            Wishlist
                          </span>
                        <% end %>
                      <% elsif restaurant.status == "Wishlist" %>
                        <%= link_to trip_restaurant_path(@trip, restaurant, status: "Booked"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/booked-icon'  %>
                            Booked
                          </span>
                        <% end %>
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <%= link_to trip_restaurant_path(@trip, restaurant), method: :delete, class: "dropdown-item status-dropdown-item" do %>
                          <span>
                            <%= render 'shared/delete-icon'  %>
                            Delete
                          </span>
                        <% end %>
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="index-participants">
                <div class="participants">
                <% @restaurants.each do |restaurant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                    <% end %>
                <% end %>
                </div>
              </div>
            </div>
            <div class="index-card card-back hidden">
              <div class="index-contact">
                <p><%= restaurant.email%></p>
                <p><%= restaurant.phone_number%></p>
              </div>
              <div class="description">
                <p><%= restaurant.description%></p>
              </div>
            </div>
          <% end %>

        </div>



    </div>

<!--     <div class=" wishlist-card hidden-xs">
      <h4>Wishlist:</h4>
    </div> -->

    </div>
  </div>
</div>
