<div class="new-container">
  <div class="container">

    <div class="header">
      <div class="title text-center"> <h2><%= trip.name  %>  ...  <i class="fa fa-university" style="color: #AAAAAA"></i></h2>
      </div>
    </div>

    <div class="activities-container">

      <div class="activities-ctn">

        <div class="activities-card">
          <div class="index-title">
            <h4 class="ind-title">Upcoming activities</h4>
          </div>
          <div class="card-index-ctn">
            <% my_activities.order(:date).each do |activ| %>
              <div class="index-card">
                <div class="index-photo">
                  <%= cl_image_tag activ.photo.url class: "ind-photo", crop: :fill %>
                </div>
                <div class="index-name">
                  <p class="ind-name"><%= link_to activ.name, activ.url, class: "name-link", target: "_blank" %></p>
                </div>
                <div class="index-date">
                  <p class="ind-date"><%= activ.date.strftime("%b %d, %Y") %> @ <%= activ.date.strftime("%H:%M") %></p>
                </div>
                <div class="index-address">
                  <p class="ind-address"><%= activ.address%></p>
                </div>
                <div class="index-status">
                  <div class="ind-status">
                      <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle" style="background-color: transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% if activ.status == "Wishlist" %>
                          <%= render 'shared/wishlist-icon' %>
                        <% else %>
                          <%= render 'shared/booked-icon' %>
                        <% end %>
                        </button>
                        <div class="dropdown-menu">
                        <% if activ.status == "Booked" %>
                          <%= link_to trip_activity_path(trip, activ, status: "Wishlist"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                            <span>
                              <%= render 'shared/wishlist-icon'  %>
                              Wishlist
                            </span>
                          <% end %>
                        <% elsif activ.status == "Wishlist" %>
                          <%= link_to trip_activity_path(trip, activ, status: "Booked"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                            <span>
                              <%= render 'shared/booked-icon'  %>
                              Booked
                            </span>
                          <% end %>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <%= link_to trip_activity_path(trip, activ), method: :delete, class: "dropdown-item status-dropdown-item" do %>
                            <span>
                              <%= render 'shared/delete-icon'  %>
                              Delete
                            </span>
                          <% end %>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="index-participants">
                  <% activ.participants.each do |participant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="index-card card-back hidden">
                <div class="contact">
                  <p><%= activ.email%></p>
                  <p><%= activ.phone_number%></p>
                </div>
                <div class="description">
                  <p><%= activ.description%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="activities-card">

          <!-- Button trigger modal -->
          <div type="button" data-toggle="modal" data-target="#ActivityModal">
            <i class="fa fa-plus-circle plus-btn"></i>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="ActivityModal" tabindex="-1" role="dialog" aria-labelledby="myAModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myAModalLabel">Add an activity</h4>
                </div>
                <div class="modal-body">
                  <div id="trip_dates" data-trip-dates="<%= trip_dates.to_json %>"></div>
                  <%= simple_form_for [trip, activity] do |f| %>
                    <%= f.input :date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', data_altinput: true, data_enabletime: true, placeholder: "Date", label: false %>
                    <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
                    <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
                    <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
                    <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
                    <div class="row">
                    <div class="col-xs-6">
                    <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
                    </div>
                    <div class="col-xs-6">
                    <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
                    </div>
                    </div>
                    <%= f.input :description, class: 'form-control', placeholder: "Description", label: false %>
                    <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                    <!-- Add participants -->

                    <%= f.submit "Save", class: 'btn btn-info', style: 'width: 100%' %>
                    <br>
                    <br>
                    <p>Don't forget to pick participants</p>
                    <form action="activity/create">
                      <% trip.participations.each do |part| %>
                        <input type="checkbox" name="<%= part.pseudo %>"> <%= part.pseudo %>
                        <br>
                        <%#= f.label part.pseudo %>
                        <%#= f.check_box :participation, checked_value: part, unchecked_value: nil %>
                      <% end %>
                      <%#= f.select :participants, collection: trip_participants, {multiple: true} %>
                      </form>

                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="index-title">
            <h4>All activities</h4>
          </div>
          <div class="card-index-ctn">
            <% activities.each do |activity| %>
              <div class="index-card">
                  <div class="index-name">
                    <p class="ind-name"><%= link_to activ.name, activ.url, class: "name-link", target: "_blank" %></p>
                  </div>
                  <div class="index-date">
                    <p class="ind-date"><%= activ.date.strftime("%b %d, %Y") %> @ <%= activ.date.strftime("%H:%M") %></p>
                  </div>
                  <div class="index-address">
                    <p class="ind-address"><%= activ.address%></p>
                  </div>
                  <div class="index-status">
                    <div class="ind-status">
                        <div class="btn-group">
                          <button type="button" class="btn btn-light dropdown-toggle" style="background-color: transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if activ.status == "Wishlist" %>
                            <%= render 'shared/wishlist-icon' %>
                          <% else %>
                            <%= render 'shared/booked-icon' %>
                          <% end %>
                          </button>
                          <div class="dropdown-menu">
                          <% if activ.status == "Booked" %>
                            <%= link_to trip_activity_path(trip, activ, status: "Wishlist"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                              <span>
                                <%= render 'shared/wishlist-icon'  %>
                                Wishlist
                              </span>
                            <% end %>
                          <% elsif activ.status == "Wishlist" %>
                            <%= link_to trip_activity_path(trip, activ, status: "Booked"), method: :patch, class: "dropdown-item status-dropdown-item" do %>
                              <span>
                                <%= render 'shared/booked-icon'  %>
                                Booked
                              </span>
                            <% end %>
                          <% end %>
                          <div class="dropdown-divider"></div>
                          <%= link_to trip_activity_path(trip, activ), method: :delete, class: "dropdown-item status-dropdown-item" do %>
                              <span>
                                <%= render 'shared/delete-icon'  %>
                                Delete
                              </span>
                            <% end %>
                        </div>
                        </div>
                    </div>
                  </div>
                  <div class="index-participants">
                    <% activ.participants.each do |participant| %>
                      <% if participant.user %>
                        <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                      <% else %>
                        <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="index-card card-back hidden">
                  <div class="contact">
                    <p><%= activ.email%></p>
                    <p><%= activ.phone_number%></p>
                  </div>
                  <div class="description">
                    <p><%= activ.description%></p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>



   </div>
  </div>
</div>



