<div class="new-container">
  <div class="container">
    <!-- Button trigger modal -->
    <div type="button" data-toggle="modal" data-target="#ActivityModal">
      <i class="fa fa-plus-circle plus-btn"></i>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ActivityModal" tabindex="-1" role="dialog" aria-labelledby="myAModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myAModalLabel">Add an activity</h4>
          </div>
          <div class="modal-body">
            <div id="trip_dates" data-trip-dates="<%= trip_dates.to_json %>">
            </div>
            <%= simple_form_for @activity, url: trip_trips_navbar_activities_path, method: :post, remote: true do |f| %>
              <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
              <%= f.submit "Quick Add", class: 'btn btn-info', style: 'width: 100%' %>
            <% end %>
            <br>
            <div id="UpdateForm">
              <%= simple_form_for [trip, activity] do |f| %>
                <%= f.input :date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', data_altinput: true, data_enabletime: true, placeholder: "Date", label: false %>
                <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
                <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
                <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
                <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
                <div class="row">
                  <div class="col-xs-6">
                  <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
                  </div>
                  <div class="col-xs-6">
                  <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
                  </div>
                </div>
                <%= f.input :description, class: 'form-control', placeholder: "Description", label: false %>
                <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                <!-- Add participants -->
                <p>Who will be attending?</p>
                  <% trip.participations.each do |participant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                    <% end %>
                  <% end %>
                <div style="visibility: hidden">
                  <%= f.simple_fields_for :participations, trip.participations.build do |fi| %>
                    <%= fi.input :pseudo, as: :check_boxes, collection: trip.participations, label: false %>
                  <% end %>
                </div>
                <%= f.submit "Save", class: 'btn btn-info', style: 'width: 100%' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->
    <div class="tabs activities-tabs">
      <a class="tab active active-tab" href="#my-activities" data-toggle="tab" role="tab" aria-controls="my-activities">
        <p>Yours</p>
      </a>
      <a class="tab" href="#other-activities" data-toggle="tab" role="tab" aria-controls="other-activities">
        <p>Other participants'</p>
      </a>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="my-activities" role="tabpanel">
        <div class="activities-card">
          <% my_activities.each do |activ| %>
            <div class="index-card">
              <div class="index-photo" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%), url('<%= cl_image_path activity.photo.url ,crop: :fill, position: :center %>');">
              </div>
              <div class="index-content">
                <div class="index-name">
                  <p class="ind-name"><%= link_to activ.name, activ.url, class: "name-link", target: "_blank" %></p>
                </div>
                <div class="index-date">
                  <div class="ind-date">
                    <% if activ.date %>
                      <p><%= activ.date.strftime("%b %d, %Y").upcase %> @ <%= activ.date.strftime("%H:%M").upcase %></p>
                    <% else %>
                      <p>Not scheduled yet</p>
                    <% end %>
                  </div>
                </div>
                <div class="index-address">
                  <p class="ind-address"><%= activ.address%></p>
                </div>
                <div class="edit-card">
                  <div type="button" data-toggle="modal" data-target="#EditModal">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="delete-card">
                  <%= link_to trip_activity_path(trip, activ), method: :delete do %>
                    <span>
                      <%= render 'shared/delete-icon'  %>
                    </span>
                  <% end %>
                </div>
                <div class="index-status">
                  <div class="ind-status">
                    <div class="btn-group">
                      <% if activ.status == "Booked" %>
                        <%= link_to trip_activity_path(trip, activ, status: "Wishlist"), method: :patch, remote: true, class: "dropdown-item status-dropdown-item" do %>
                            <span data-activity-id="<%= activ.id %>">
                              <%= render 'shared/booked-icon'  %>
                            </span>
                        <% end %>
                      <% elsif activ.status == "Wishlist" %>
                        <%= link_to trip_activity_path(trip, activ, status: "Booked"), method: :patch, remote: true, class: "dropdown-item status-dropdown-item" do %>
                          <span data-activity-id="<%= activ.id %>">
                            <%= render 'shared/wishlist-icon'  %>
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="index-participants">
                  <% activ.participants.each do |participant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="index-card card-back hidden">
                <div class="contact">
                  <p><%= activ.email%></p>
                  <p><%= activ.phone_number%></p>
                </div>
                <div class="description">
                  <p><%= activ.description%></p>
                </div>
              </div>
              <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myAModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myAModalLabel">Edit an activity</h4>
                    </div>
                    <div class="modal-body">
                      <div id="trip_dates" data-trip-dates="<%= trip_dates.to_json %>">
                      </div>
                      <%= simple_form_for [trip, activ], url: trip_activity_path(trip, activ), method: :patch  do |f| %>
                        <%= f.input :date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', data_altinput: true, data_enabletime: true, placeholder: "Date", label: false %>
                        <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
                        <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
                        <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
                        <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
                        <div class="row">
                        <div class="col-xs-6">
                        <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
                        </div>
                        <div class="col-xs-6">
                        <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
                        </div>
                        </div>
                        <%= f.input :description, class: 'form-control', placeholder: "Description", label: false %>
                        <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                        <!-- Add participants -->
                        <p>Who will be attending?</p>
                          <% trip.participations.each do |participant| %>
                            <% if participant.user %>
                              <%= cl_image_tag participant.user.avatar, class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                            <% else %>
                              <%= image_tag "default-user.jpg", class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                            <% end %>
                          <% end %>
                        <div style="visibility: hidden">
                          <%= f.simple_fields_for :participations, trip.participations.build do |fi| %>
                            <%= fi.input :pseudo, as: :check_boxes, collection: trip.participations, label: false %>
                          <% end %>
                        </div>
                        <%= f.submit "Save", class: 'btn btn-info', style: 'width: 100%' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="other-activities" role="tabpanel">
        <div class="activities-card">
          <% activities.each do |activ| %>
            <div class="index-card">
              <div class="index-photo" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%), url('<%= cl_image_path activity.photo.url ,crop: :fill, position: :center %>');">
              </div>
              <div class="index-content">
                <div class="index-name">
                  <p class="ind-name"><%= link_to activ.name, activ.url, class: "name-link", target: "_blank" %></p>
                </div>
                <div class="index-date">
                  <div class="ind-date">
                    <% if activ.date %>
                      <p><%= activ.date.strftime("%b %d, %Y").upcase %> @ <%= activ.date.strftime("%H:%M").upcase %></p>
                    <% else %>
                      <p>Not scheduled yet</p>
                    <% end %>
                  </div>
                </div>
                <div class="index-address">
                  <p class="ind-address"><%= activ.address%></p>
                </div>
                <div class="edit-card">
                  <div type="button" data-toggle="modal" data-target="#EditModal">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="delete-card">
                  <%= link_to trip_activity_path(trip, activ), method: :delete do %>
                    <span>
                      <%= render 'shared/delete-icon'  %>
                    </span>
                  <% end %>
                </div>
                <div class="index-status">
                  <div class="ind-status">
                    <div class="btn-group">
                      <% if activ.status == "Booked" %>
                        <%= link_to trip_activity_path(trip, activ, status: "Wishlist"), method: :patch, remote: true, class: "dropdown-item status-dropdown-item" do %>
                            <span data-activity-id="<%= activ.id %>">
                              <%= render 'shared/booked-icon'  %>
                            </span>
                        <% end %>
                      <% elsif activ.status == "Wishlist" %>
                        <%= link_to trip_activity_path(trip, activ, status: "Booked"), method: :patch, remote: true, class: "dropdown-item status-dropdown-item" do %>
                          <span data-activity-id="<%= activ.id %>">
                            <%= render 'shared/wishlist-icon'  %>
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="index-participants">
                  <% activ.participants.each do |participant| %>
                    <% if participant.user %>
                      <%= cl_image_tag participant.user.avatar, class: "avatar index-avatar" %>
                    <% else %>
                      <%= image_tag "default-user.jpg", class: "avatar index-avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="index-card card-back hidden">
                <div class="contact">
                  <p><%= activ.email%></p>
                  <p><%= activ.phone_number%></p>
                </div>
                <div class="description">
                  <p><%= activ.description%></p>
                </div>
              </div>
              <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myAModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myAModalLabel">Edit an activity</h4>
                    </div>
                    <div class="modal-body">
                      <div id="trip_dates" data-trip-dates="<%= trip_dates.to_json %>">
                      </div>
                      <%= simple_form_for [trip, activ], url: trip_activity_path(trip, activ), method: :patch  do |f| %>
                        <%= f.input :date, as: :string, required: false, input_html: { class: "datepicker" }, class: 'form-control', data_altinput: true, data_enabletime: true, placeholder: "Date", label: false %>
                        <%= f.input :name, class: 'form-control', placeholder: "Name", label: false %>
                        <%= f.input :url, class: 'form-control', placeholder: "Url", label: false %>
                        <!-- Ici on pourrait suggérer l'adresse , tel etc directement en scrapant l'url par AJAX - semaine prochaine -->
                        <%= f.input :address, class: 'form-control', placeholder: "Address", label: false %>
                        <div class="row">
                        <div class="col-xs-6">
                        <%= f.input :phone_number, class: 'form-control', placeholder: "Phone number", label: false %>
                        </div>
                        <div class="col-xs-6">
                        <%= f.input :email, class: 'form-control', placeholder: "Email", label: false %>
                        </div>
                        </div>
                        <%= f.input :description, class: 'form-control', placeholder: "Description", label: false %>
                        <%= f.input :status, collection: ["Wishlist", "Booked"], default: "Wishlist", class: 'form-control', label: false %>
                        <!-- Add participants -->
                        <p>Who will be attending?</p>
                          <% trip.participations.each do |participant| %>
                            <% if participant.user %>
                              <%= cl_image_tag participant.user.avatar, class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                            <% else %>
                              <%= image_tag "default-user.jpg", class: "avatar-large activity-participant-avatar", data: { participation_id: participant.id } %>
                            <% end %>
                          <% end %>
                        <div style="visibility: hidden">
                          <%= f.simple_fields_for :participations, trip.participations.build do |fi| %>
                            <%= fi.input :pseudo, as: :check_boxes, collection: trip.participations, label: false %>
                          <% end %>
                        </div>
                        <%= f.submit "Save", class: 'btn btn-info', style: 'width: 100%' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div>


