<div class="text-center">
  <h4><%= activity.name %> <%= render 'shared/wishlist-icon' %></h4>
  <% if activity.date.present? %>
    <h6>On: <%= activity.date.strftime("%b %d, %Y") %> @ <%= activity.date.strftime("%H:%M") %></h6>
  <% end %>
  <p><%= activity.address %></p>
</div>
